<% if notice %>
<p id="notice"><%= notice %></p>
  <div class="alert alert-success alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <p id="notice"><%= notice %></p>
  </div>
<% end %>

<h2 class="sub-header">Users</h2>

<p>
  <strong>名前：</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email：</strong>
  <%= @user.email %>
</p>

<p>
  <strong>役割：</strong>
  <%= @user.role %>
</p>

<%= link_to '編集', edit_user_path(@user), class: 'btn btn-default'%>
<%= link_to '戻る', users_path, class: 'btn btn-default' %>
