<%= form_for(order) do |f| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h2 class="sub-header">商品</h2>
  <ul class="list-group">
    <% cart.line_items.each do |line_item| %>
      <li class="list-group-item">
        <p>
          <strong>タイトル：</strong>
          <%= line_item.product.title %>
        </p>

        <p>
          <strong>個数：</strong>
          <%= number_to_currency(line_item.quantity, precision: 0, unit: "個") %>
        </p>

        <p>
          <strong>小計金額：</strong>
          <%= number_to_currency(line_item.total_price, precision: 0, unit: "円") %>
        </p>
      </li>
    <% end %>
    <li class="list-group-item">
      <p>
        <strong>合計金額：</strong>
        <%= number_to_currency(cart.total_price, precision: 0, unit: "円") %>
      </p>
    </li>
  </ul>

  <h2 class="sub-header">お客様情報</h2>
  <ul class="list-group">
    <li class="list-group-item">
      <p>
        <strong>氏名：</strong>
        <%= current_user.name %>
      </p>
    </li>

    <li class="list-group-item">
      <p>
        <strong>メールアドレス：</strong>
        <%= current_user.email %>
      </p>
    </li>
  </ul>

  <div class="from-group">
    <%= f.label :shipping_address %>
    <%= f.text_field :shipping_address, class: "form-control" %>
  </div>

  <%= f.hidden_field :user_id, value: current_user.id %>

  <div class="actions">
    <%= f.submit '購入確定', class: "btn btn-default", data: { confirm: 'この内容で購入してもよろしいですか？' } %>
  </div>
<% end %>
