<p id="notice"><%= notice %></p>

<p>
  <strong>タイトル：</strong>
  <%= @book.title %>
</p>

<p>
  <strong>著者：</strong>
  <%= @book.author %>
</p>

<p>
  <strong>出版日：</strong>
  <%= @book.published_on %>
</p>

<p>
  <strong>価格：</strong>
  <%= @book.price %>
</p>

<p>
  <strong>発売：</strong>
  <%= @book.showing %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
