<%= form_for([@book, tagging]) do |f| %>
  <% if tagging.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tagging.errors.count, "error") %> prohibited this tagging from being saved:</h2>

      <ul>
      <% tagging.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h2 class="sub-header">Books</h2>

  <p>
    <strong>タイトル：</strong>
    <%= @book.title %>
  </p>

  <p>
    <strong>著者：</strong>
    <%= @book.author %>
  </p>

  <p>
    <strong>出版日：</strong>
    <%= @book.published_on.try(:strftime, '%Y年%m月') %>
  </p>

  <hr>

  <div class="form-group">
    <%= f.select :tag_id, Tag.all.map{|t| [t.name, t.id]},  class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit title, class: "btn btn-default" %>
  </div>

<% end %>

<br />
