<% if notice %>
<p id="notice"><%= notice %></p>
  <div class="alert alert-success alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <p id="notice"><%= notice %></p>
  </div>
<% end %>

<h2 class="sub-header">Orders</h2>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>購入者</th>
        <th>送付先</th>
        <th>金額</th>
        <th>状態</th>
    　</tr>
    </thead>
    <tbody>
      <% @orders.each do |order| %>
        <tr>
          <td><%= order.user.name %></td>
          <td><%= order.shipping_address %></td>
          <td><%= order.order_detail.product.price %></td>
          <td><%= I18n.t order.status, scope: 'activerecord.enum.order.status' %></td>
          <td><%= link_to '編集', edit_orders_management_path(order) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>